{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger mt-2 mx-auto w-auto" style="max-width: 300px;">
                {{ message }}
            </div>
        {% endfor %}

        <button class="btn btn-custom" type="submit">Log In</button>
    </form>
{% endblock %}
