{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <select name="symbol">
            <option disabled selected value="">Symbol</option>

            {% for stock in stocks %}
                <option value="{{ stock.symbol }}">
                    {{ stock.symbol}}
                </option>
            {% endfor %}
        </select>

        <input name="shares" placeholder="# of shares" type="text">
        <button type="submit">SELL</button>
    </form>
{% endblock %}
